mixin one_day_block(text_todo, work_time_to_complete, work_time)
  div.single_list_block
    i(class="far fa-check-circle")
    div.info_list_block
      p.text_todo #{text_todo}
      p Time to complete #{work_time_to_complete} h.
      p Time spend #{work_time} h.
    i(class='fas fa-play-circle')      
    i(class="far fa-times-circle")
  
