div.main_statistic
  span 22.02.2019
  div.enter_form
    button.clear_list Clear List
    input(type="text" placeholder="What needs to be done?" required)
    input(type="text" placeholder="Time to complete, example( 1:30 )" required)
    button.add_to_todos Add to Todos

    
