include ../components/mixins
div.seventh_content
  div.pricing_page
    h2 Pricing
    h4 Choose your plan
    div.seven_price_blocks
      +seventh_price_block('Standart','107','< 100 Pages Websites ','< Sell 1 Product & Accept Donatiors','< Developer Platform','< 20 Pages Galleries','< 120 GB Cloud Storage','-','-')
      +seventh_price_block('Premium','433','< 10 Pages Websites ','< Sell 1 Product & Accept Donatiors','< Developer Platform','< 20 Pages Galleries','< 120 GB Cloud Storage','< Mobile Website and Store','-')
      +seventh_price_block('Ultimate','1233','< 10 Pages Websites ','< Sell 1 Product & Accept Donatiors','< Developer Platform','< 20 Pages Galleries','< 120 GB Cloud Storage','< Mobile Website and Store','< 24/7 Support')
