div.sixth_background
  div.six_content
    div.service_page
      h2 Service
      h4 Clean idea and unique design
      div.service_page_content
        +sixth_service_page_content_block('fas fa-cog','Excellent features','Lorem ipsum doloar sit amet meconstur adipiscing.')
        +sixth_service_page_content_block('fas fa-camera','Simple & Clean','Lorem ipsum doloar sit amet meconstur adipiscing.')
        +sixth_service_page_content_block('fas fa-briefcase','Parallax Effect','Lorem ipsum doloar sit amet meconstur adipiscing.')
        +sixth_service_page_content_block('far fa-bell','24/7 Support','Lorem ipsum doloar sit amet meconstur adipiscing.')
