div.top_part_of_functionals
  p What are you working on?
  div.top_functionals
    i(class='far fa-folder')
    i(class='fas fa-dollar-sign')
    p 0:00:00
    i(class='fas fa-play-circle')
    i(class='far fa-clock')
    
