/*  General Style   */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h2 {
  color: #e8e8e8;
  font: 91px Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  padding-top: 72px;
}

h3 {
  font: 44px Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  padding-top: 50px;
}

h4 {
  color: #444444;
  font: 28px Muli, sans-serif;
  text-transform: uppercase;
  margin-top: -52px;
  margin-bottom: 20px;
}

.form-main-button button {
  font: 18px Montserrat, sans-serif;
  padding: 20px 0px;
  border: 1px solid #444444;
  font-weight: bolder;
}

p {
  font: 16px Muli, sans-serif;
}

body {
  margin: 0;
}

@media (min-width: 769px) and (max-width: 1024px) {
  /*  General Style   */
  h2 {
    font: 78px Montserrat, sans-serif;
    padding-top: 60px;
  }
  h3 {
    font: 40px Montserrat, sans-serif;
    font-weight: 700;
    padding-top: 75px;
  }
  h4 {
    font: 25px Muli, sans-serif;
    margin-top: -45px;
    margin-bottom: 20px;
  }
  .form-main-button button {
    font: 16px Montserrat, sans-serif;
    padding: 18px 0px;
    font-weight: 700;
  }
  p {
    font: 15px Muli, sans-serif;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  h2 {
    font: 60px Montserrat, sans-serif;
    font-weight: bolder;
    padding-top: 40px;
  }
  h3 {
    font: 36px Montserrat, sans-serif;
    font-weight: 700;
    padding-top: 55px;
  }
  h4 {
    font: 22px Muli, sans-serif;
    margin-top: -42px;
    margin-bottom: 20px;
    padding-top: 5px;
  }
  .form-main-button button {
    font: 15px Montserrat, sans-serif;
    padding: 16px 0px;
    font-weight: bolder;
  }
  p {
    font: 14px Muli, sans-serif;
  }
}

@media (max-width: 425px) {
  h2 {
    font: 50px Montserrat, sans-serif;
    font-weight: bolder;
    padding-top: 30px;
  }
  h3 {
    font: 32px Montserrat, sans-serif;
    font-weight: 700;
    color: #fff;
    padding-top: 45px;
  }
  h4 {
    font: 20px Muli, sans-serif;
    margin-top: -40px;
    margin-bottom: 20px;
    padding-top: 10px;
  }
  .form-main-button button {
    font: 14px Montserrat, sans-serif;
    padding: 15px 0px;
  }
  p {
    font: 13px Muli, sans-serif;
  }
}

.top_header_background {
  background: url(../img/top_header_background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.top_header {
  max-width: 1140px;
  margin: 0 auto;
}

.top_header h1 {
  padding-top: 490px;
  max-width: 500px;
  font: 60px Montserrat, sans-serif;
  text-transform: uppercase;
  padding-left: 5px;
  font-weight: 800;
  color: #444444;
}

.top_header p {
  padding-top: 65px;
  font: 13px Lato, sans-serif;
  color: #878787;
  max-width: 765px;
  line-height: 1.8;
}

.top_header form {
  padding-bottom: 334px;
}

.top_header .form-main-button button {
  font: 16px Montserrat, sans-serif;
  font-weight: 600;
  padding: 17px 34px 17px 34px;
  color: #444444;
  border: 1px solid #444444;
  margin-top: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
}

.form-main-button button {
  font: 16px Montserrat, sans-serif;
  font-weight: 900;
  padding: 19px 33px;
  color: #444444;
  border: 1px solid #444444;
  margin-top: 18px;
  background-color: #ffffff;
}

.form-main-button button:hover {
  background-color: #ffe400;
}

.header_menu_background {
  background-color: #2a2a2a;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header_menu {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
}

.header_menu img {
  width: 186px;
  height: 33px;
  margin-top: 24px;
  margin-bottom: 22px;
  margin-left: 4px;
}

.header_menu ul {
  display: flex;
  justify-content: space-between;
  margin-right: 45px;
  text-decoration: none;
}

.ul_menu li {
  font: 14px Montserrat, sans-serif;
  cursor: pointer;
  padding-right: 65px;
  margin-top: 32px;
  margin-bottom: 28px;
  list-style-type: none;
}

.ul_menu a {
  color: #fff;
  text-decoration: none;
}

.ul_menu a:hover {
  color: #ffe400;
}

ul.ul_menu li:last-child {
  padding-right: 0px;
}

@media (min-width: 1025px) and (max-width: 1199px) {
  /* Header */
  .top_header h1 {
    padding-top: 250px;
    font: 50px Montserrat, sans-serif;
    font-weight: 800;
  }
  .top_header form {
    padding-bottom: 150px;
  }
  .top_header p {
    padding-left: 50px;
  }
  .top_header form {
    padding-left: 50px;
  }
  .header_menu img {
    padding-left: 20px;
  }
  .header_menu ul {
    margin-right: 20px;
  }
  .ul_menu li {
    padding-right: 50px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /*  Header   */
  .top_header h1 {
    padding-top: 150px;
    font: 40px Montserrat, sans-serif;
    padding-left: 20px;
    font-weight: 800;
  }
  .top_header p {
    padding-top: 50px;
    padding-left: 20px;
    max-width: 525px;
  }
  .top_header form {
    padding-bottom: 50px;
    padding-left: 20px;
  }
  .form-main-button button {
    padding: 16px 22px;
  }
  .header_menu img {
    width: 150px;
    height: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .header_menu ul {
    margin-right: 20px;
  }
  .ul_menu li {
    font: 13px Montserrat, sans-serif;
    padding-right: 25px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  /*  Header   */
  .top_header h1 {
    padding-top: 60px;
    font: 32px Montserrat, sans-serif;
    padding-left: 15px;
    font-weight: 800;
  }
  .top_header p {
    padding-top: 35px;
    padding-left: 15px;
    max-width: 350px;
  }
  .top_header form {
    padding-bottom: 0px;
    padding-left: 15px;
  }
  .top_header .form-main-button button {
    font: 12px Montserrat, sans-serif;
    font-weight: 700;
    padding: 14px 16px;
    margin-bottom: 80px;
  }
  .header_menu {
    display: block;
    text-align: center;
  }
  .header_menu img {
    margin-bottom: 0px;
  }
  .header_menu ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
  }
  .ul_menu li {
    font: 13px Montserrat, sans-serif;
    padding-right: 15px;
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

@media (max-width: 425px) {
  /*  Header   */
  .top_header h1 {
    padding-top: 50px;
    font: 26px Montserrat, sans-serif;
    padding-left: 12px;
    font-weight: 800;
  }
  .top_header p {
    padding-top: 25px;
    font: 13px Lato, sans-serif;
    max-width: 300px;
    padding-left: 12px;
    padding-left: 12px;
  }
  .top_header form {
    padding-bottom: 0px;
    padding-left: 12px;
  }
  .top_header .form-main-button button {
    font: 13px Montserrat, sans-serif;
    font-weight: 600;
    padding: 9px 12px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .header_menu {
    display: block;
    text-align: center;
  }
  .header_menu img {
    margin-bottom: 0px;
  }
  .header_menu ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 12px;
    margin-left: 12px;
  }
  .ul_menu li {
    font: 13px Montserrat, sans-serif;
    padding-right: 15px;
    margin-bottom: 20px;
  }
}

.first_content {
  background: url(../img/first_content_background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.page_about {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.page_about h2 {
  font-weight: 900;
}

.page_about h4 {
  font-weight: 900;
}

.page_about p {
  font: 16px Lato, sans-serif;
  font-weight: 400;
  max-width: 945px;
  margin: 0 auto;
  padding-bottom: 48px;
  color: #757575;
  line-height: 1.8;
}

.page_about .form-main-button button {
  font: 18px Montserrat, sans-serif;
  padding-top: 20px;
  padding-bottom: 18px;
  min-width: 225px;
  border: 1px solid #444444;
  font-weight: 500;
  text-transform: none;
  color: #ffe400;
  background-color: #000;
  margin-right: 20px;
  margin-bottom: 82px;
}

.page_about .form-main-button button:last-child {
  margin-right: 0px;
}

.page_about .form-main-button button:hover {
  color: #000;
  background-color: #ffe400;
  border: 1px solid #ffe400;
}

.first_content_text_block {
  padding-top: 0px;
  padding-bottom: 175px;
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.first_c_text_block i {
  font-size: 100px;
}

.first_c_text_block {
  background-color: #212121;
  color: #fff;
  text-align: center;
}

.first_c_text_block i {
  padding-top: 90px;
  padding-bottom: 55px;
  color: #ffe400;
}

.first_c_text_block h6 {
  font: 24px Montserrat, sans-serif;
  padding-bottom: 125px;
  font-weight: 700;
}

.first_c_text_block p {
  display: none;
}

.first_c_text_block:hover p {
  display: block;
}

.first_c_text_block:hover {
  background: url(../img/hover-about.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
}

.first_c_text_block:hover i {
  padding-top: 50px;
  padding-bottom: 45px;
  color: #fff;
}

.first_c_text_block:hover h6 {
  font: 24px Montserrat, sans-serif;
  padding-bottom: 33px;
  font-weight: 700;
}

.first_block_statistics {
  max-width: 1140px;
  margin: 0 auto;
}

.first_block_statistics h5 {
  font: 30px Montserrat, sans-serif;
  color: #444444;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 103px;
}

.container_to_first_statistics {
  display: flex;
  justify-content: space-between;
}

.first_statistics:first-child {
  margin-left: 35px;
}

.first_statistics:last-child {
  margin-right: 20px;
}

.first_statistics p:first-child {
  font: 46px Montserrat, sans-serif;
  color: #444444;
  text-transform: uppercase;
  font-weight: 700;
}

.first_statistics p:last-child {
  font: 12px Montserrat, sans-serif;
  color: #878787;
  padding-bottom: 148px;
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .first_content_text_block {
    margin-left: 20px;
    margin-right: 20px;
  }
  .page_about .form-main-button button {
    font: 16px Montserrat, sans-serif;
    min-width: 200px;
    font-weight: 500;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* First Block  */
  .page_about h2 {
    font-weight: 900;
    padding-top: 50px;
  }
  .page_about h4 {
    font-weight: 900;
  }
  .page_about p {
    font: 15px Lato, sans-serif;
    font-weight: 400;
    max-width: 945px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }
  .page_about .form-main-button button {
    font: 14px Montserrat, sans-serif;
    padding: 20px 0px;
    min-width: 180px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .first_content_text_block {
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .first_c_text_block i {
    font-size: 90px;
    padding-top: 90px;
    padding-bottom: 55px;
  }
  .first_c_text_block p {
    padding-left: 10px;
    padding-right: 10px;
  }
  .first_c_text_block:hover h6 {
    font: 24px Montserrat, sans-serif;
    padding-bottom: 33px;
    font-weight: 700;
  }
  .first_block_statistics h5 {
    margin-bottom: 80px;
  }
  .first_statistics p:last-child {
    padding-bottom: 100px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  /* First Block  */
  .page_about h2 {
    font-weight: 900;
  }
  .page_about h4 {
    font-weight: 900;
    padding-top: 5px;
  }
  .page_about p {
    font: 14px Lato, sans-serif;
    font-weight: 400;
    max-width: 600px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .page_about .form-main-button button {
    font: 13px Montserrat, sans-serif;
    padding: 15px 0px;
    min-width: 150px;
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 80px;
  }
  .first_content_text_block {
    padding: 0px 15px 135px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .first_c_text_block i {
    font-size: 100px;
  }
  .first_block_statistics h5 {
    font: 26px Montserrat, sans-serif;
    font-weight: 700;
    margin-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .first_statistics:first-child {
    margin-left: 15px;
  }
  .first_statistics:last-child {
    margin-right: 15px;
  }
  .first_statistics p:first-child {
    font: 32px Montserrat, sans-serif;
    font-weight: 700;
  }
  .first_statistics p:last-child {
    padding-bottom: 100px;
  }
}

@media (max-width: 425px) {
  /* First Block  */
  .page_about p {
    font: 13px Lato, sans-serif;
    font-weight: 400;
    max-width: 420px;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .page_about .form-main-button button {
    font: 11px Montserrat, sans-serif;
    padding: 14px 0px;
    min-width: 120px;
    font-weight: 500;
    margin-right: 15px;
    margin-bottom: 0px;
  }
  .first_content_text_block {
    padding: 40px 12px 65px 12px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
  }
  .first_block_statistics h5 {
    font: 22px Montserrat, sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .container_to_first_statistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
  }
  .first_statistics:first-child {
    margin-left: 0px;
  }
  .first_statistics:last-child {
    margin-right: 0px;
  }
  .first_statistics p:first-child {
    font: 22px Montserrat, sans-serif;
    font-weight: 700;
  }
  .first_statistics p:last-child {
    font: 11px Montserrat, sans-serif;
    color: #878787;
    padding-bottom: 20px;
  }
}

.eleven_content {
  background: url(../img/eleven_backgorund.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 166px;
}

.contact_page {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.contact_page h2 {
  padding-top: 97px;
}

.contact_page h4 {
  font-weight: 900;
}

.container_to_input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-top: 148px;
}

.container_to_input input {
  font: 15px Lato, sans-serif;
  color: #e8e8e8;
  border: none;
  width: 100%;
  height: 60px;
  padding-left: 20px;
  border: 1px solid #e8e8e8;
}

textarea {
  font: 15px Lato, sans-serif;
  color: #e8e8e8;
  margin-top: 15px;
  padding-left: 20px;
  padding-top: 20px;
  border: none;
  width: 100%;
  height: 510px;
  padding-bottom: 25px;
  resize: none;
  border: 1px solid #e8e8e8;
}

.message .form-main-button {
  text-align: left;
}

.message .form-main-button button {
  margin-top: 22px;
  width: 145px;
  font: 16px Montserrat, sans-serif;
  font-weight: bolder;
  margin-bottom: 127px;
  background-color: #ffe400;
}

.message .form-main-button button:hover {
  background-color: #444444;
  color: #ffe400;
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .form_bottom {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /*  Eleven Content  */
  .eleven_content {
    margin-top: 100px;
  }
  .contact_page h2 {
    padding-top: 60px;
  }
  .form_bottom {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container_to_input {
    padding-top: 80px;
  }
  .message .form-main-button button {
    margin-bottom: 80px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  /*  Eleven Content  */
  .eleven_content {
    margin-top: 35px;
  }
  .contact_page h2 {
    padding-top: 40px;
  }
  .container_to_input {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .message {
    padding-right: 15px;
    padding-left: 15px;
  }
  .message .form-main-button button {
    margin-bottom: 65px;
  }
}

@media (max-width: 425px) {
  /*  Eleven Content  */
  .eleven_content {
    margin-top: 35px;
  }
  .contact_page h2 {
    padding-top: 40px;
  }
  .container_to_input {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    padding-top: 40px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .message {
    padding-right: 12px;
    padding-left: 12px;
  }
  textarea {
    height: 400px;
  }
  .message .form-main-button button {
    width: 105px;
    font: 15px Montserrat, sans-serif;
    font-weight: bolder;
    margin-bottom: 55px;
  }
}

.expert_page {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 358px;
}

.expert_page h2 {
  padding-top: 231px;
}

.expert_page h4 {
  font-weight: 900;
}

.expert_content_blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  padding-top: 106px;
}

.expert_block:hover {
  background-color: #ffe400;
}

.expert_block:hover img {
  display: none;
}

.expert_block:hover .text_about_expert {
  background-color: #ffe400;
}

.expert_block:hover h5 {
  padding-top: 90px;
  font: 24px Montserrat, sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  color: #000;
}

.expert_block:hover h6 {
  padding-top: 15px;
  font: 16px Montserrat, sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  color: #000;
}

.social_icons a:hover i {
  color: #000;
}

.expert_block:hover p {
  font: 12px Muli, sans-serif;
  padding-top: 70px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 700;
  padding-bottom: 120px;
  color: #000;
}

.expert_block:hover hr {
  border-top: 1px dashed #6b6000;
  width: 80%;
  margin: 0 auto;
}

.expert_block:hover hr:first-of-type {
  display: none;
}

.expert_block .social_icons {
  display: none;
}

.expert_block:hover .social_icons {
  display: block;
}

.expert_block p {
  display: none;
}

.expert_block:hover p {
  display: block;
}

.expert_block hr:last-of-type {
  display: none;
}

.expert_block:hover hr:last-of-type {
  display: block;
}

.expert_block .social_icons i {
  color: #6b6000;
  font-size: 18px;
}

.expert_block .social_icons {
  margin-top: 40px;
}

.expert_block .social_icons a {
  margin-right: 28px;
}

.expert_block .social_icons a:last-child {
  margin-right: 0px;
}

.text_about_expert {
  background-color: #e8e8e8;
}

.expert_block h5 {
  padding-top: 20px;
  padding-bottom: 20px;
  font: 16px Montserrat, sans-serif;
  color: #444444;
  font-weight: 700;
  text-transform: uppercase;
}

.text_about_expert h6 {
  padding-top: 22px;
  padding-bottom: 21px;
  font: 11px Montserrat, sans-serif;
  color: #444444;
  font-weight: bolder;
  text-transform: uppercase;
}

.text_about_expert hr {
  border-top: 1px dashed #d0d0d0;
  width: 80%;
  margin: 0 auto;
}

.text_about_expert p {
  padding-top: 20px;
  padding-bottom: 20px;
  font: 11px Montserrat, sans-serif;
  color: #444444;
  font-weight: bolder;
  text-transform: uppercase;
}

.text_about_expert {
  margin-top: 6px;
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .expert_page h2 {
    padding-top: 150px;
  }
  .expert_page {
    padding-bottom: 250px;
  }
  .expert_content_blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .expert_content_blocks:first-child {
    padding-top: 110px;
  }
  .expert_block:hover h5 {
    padding-top: 60px;
  }
  .expert_block:hover p {
    padding-top: 50px;
    padding-bottom: 70px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /*   Eigth Content      */
  .expert_page {
    padding-bottom: 150px;
  }
  .expert_page h2 {
    padding-top: 100px;
  }
  .expert_content_blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .expert_block:hover h5 {
    font-size: 22px;
    padding-top: 40px;
  }
  .expert_block:hover h6 {
    font-size: 15px;
    padding-top: 10px;
  }
  .expert_block:hover p {
    font: 11px Muli, sans-serif;
    color: #757575;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    color: #000;
  }
  .expert_block .social_icons a {
    margin-right: 15px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  /*   Eigth Content      */
  .expert_page {
    padding-bottom: 80px;
  }
  .expert_page h2 {
    padding-top: 80px;
  }
  .expert_content_blocks {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    padding-top: 30px;
  }
  .expert_block:hover h5 {
    padding-top: 30px;
    font: 19px Montserrat, sans-serif;
    font-weight: bolder;
  }
  .expert_block:hover h6 {
    font: 15px Montserrat, sans-serif;
    font-weight: bolder;
  }
  .expert_block:hover p {
    font: 11px Muli, sans-serif;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    padding-bottom: 50px;
  }
  .expert_block .social_icons {
    margin-top: 20px;
  }
  .expert_block .social_icons a {
    margin-right: 15px;
  }
}

@media (max-width: 425px) {
  /*   Eigth Content      */
  .expert_page {
    padding-bottom: 40px;
  }
  .expert_page h2 {
    padding-top: 60px;
  }
  .expert_content_blocks {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
  }
  .expert_block:hover h5 {
    padding-top: 35px;
    font: 19px Montserrat, sans-serif;
    font-weight: bolder;
  }
  .expert_block:hover h6 {
    font: 15px Montserrat, sans-serif;
    font-weight: bolder;
  }
  .expert_block:hover p {
    font: 11px Muli, sans-serif;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    padding-bottom: 80px;
  }
  .expert_block .social_icons i {
    font-size: 16px;
  }
  .expert_block .social_icons a {
    margin-right: 18px;
  }
}

.features_page {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 165px;
}

.features_page h2 {
  padding-top: 105px;
}

.features_page h4 {
  font-weight: 700;
}

.fourth_content_blocks {
  padding-top: 110px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 65px;
  text-align: left;
}

.fourth_similar_block {
  display: flex;
}

.fourth_similar_block_text {
  padding-left: 20px;
}

.fourth_similar_block_text h6 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font: 17px Montserrat, sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  color: #444444;
  padding-bottom: 15px;
}

.fourth_similar_block_text p {
  color: #757575;
  line-height: 1.8;
}

.fourth_similar_block_circle {
  max-width: 65px;
  max-height: 65px;
  border-radius: 32.5px;
}

.fourth_similar_block:nth-child(2n + 1) .fourth_similar_block_circle {
  background-color: #ffe400;
  color: #212121;
}

.fourth_similar_block:nth-child(2n + 1):hover .fourth_similar_block_circle {
  background-color: #212121;
  color: #ffe400;
}

.fourth_similar_block:nth-child(2n) .fourth_similar_block_circle {
  background-color: #212121;
  color: #ffe400;
}

.fourth_similar_block:nth-child(2n):hover .fourth_similar_block_circle {
  background-color: #ffe400;
  color: #212121;
}

.fourth_similar_block_circle i {
  padding: 25px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Fourth Block  */
  .features_page {
    padding-bottom: 100px;
  }
  .fourth_content_blocks {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    text-align: left;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  /* Fourth Block  */
  .features_page {
    padding-bottom: 60px;
  }
  .features_page h4 {
    padding-top: 10px;
    font-size: 18px;
  }
  .fourth_content_blocks {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 425px) {
  /* Fourth Block  */
  .features_page {
    padding-bottom: 40px;
  }
  .features_page h2 {
    font-size: 44px;
  }
  .features_page h4 {
    font-size: 14px;
    padding-top: 15px;
  }
  .fourth_content_blocks {
    padding-top: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    text-align: left;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.ninth_content {
  background: url(../img/nine_backgorund.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.impressed_by_our_work {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.impressed_by_our_work h3 {
  padding-top: 100px;
  font: 30px Lato, sans-serif;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
}

.impressed_by_our_work p {
  padding-top: 5px;
  font: 13px Muli, sans-serif;
  color: #fff;
  padding-bottom: 86px;
}

.impressed_by_our_work .form-main-button button {
  text-transform: uppercase;
  color: #000;
  font: 13px Lato, sans-serif;
  min-width: 170px;
  font-weight: 700;
  margin-bottom: 105px;
  padding: 16px 25px;
  margin-left: 10px;
  /*  width: 170px;*/
}

.impressed_by_our_work .form-main-button button:first-child {
  margin-left: 0px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Nine Block   */
  .impressed_by_our_work h3 {
    padding-top: 50px;
  }
  .impressed_by_our_work p {
    padding-bottom: 30px;
  }
  .form-main-button button {
    text-transform: uppercase;
    color: #000;
    font: 13px Lato, sans-serif;
    font-weight: 700;
    margin-bottom: 60px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  /* Nine Block   */
  .impressed_by_our_work h3 {
    padding-top: 40px;
    font: 24px Lato, sans-serif;
    font-weight: bolder;
  }
  .impressed_by_our_work p {
    padding-bottom: 20px;
  }
  .impressed_by_our_work .form-main-button button {
    text-transform: uppercase;
    color: #000;
    font: 11px Lato, sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
    padding: 12px 15px;
    margin-left: 10px;
  }
}

@media (max-width: 425px) {
  /* Nine Block   */
  .impressed_by_our_work h3 {
    padding-top: 40px;
    font: 20px Lato, sans-serif;
    font-weight: bolder;
    padding-left: 12px;
    padding-right: 12px;
  }
  .impressed_by_our_work p {
    font: 12px Muli, sans-serif;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .impressed_by_our_work .form-main-button button {
    text-transform: uppercase;
    color: #000;
    font: 10px Lato, sans-serif;
    font-weight: 700;
    margin-bottom: 35px;
    padding: 8px 10px;
    margin-left: 10px;
  }
}

.tenth_content {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.news_page h2 {
  padding-top: 117px;
}

.news_page h4 {
  font-weight: 900;
}

.left_hover_photo-news,
.right_hover_photo-news {
  width: 25px;
  height: 25px;
  border-radius: 13px;
  border: 1px solid #fff;
  color: #fff;
}

.left_hover_photo-news:hover,
.right_hover_photo-news:hover {
  border: 1px solid #000;
  color: #fff;
  background-color: #000;
}

.hover_photo-news {
  display: none;
  position: relative;
  z-index: 3;
}

.similar_news_photo_block img {
  position: relative;
  z-index: 1;
}

.similar_news_photo_block:hover .hover_photo-news {
  display: flex;
  justify-content: space-between;
  margin-top: -50px;
  margin-left: 20px;
  margin-right: 20px;
}

.similar_news_photo_block:hover .grey_block_under_news_photo {
  margin-top: 2px;
}

.news_photo_block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  padding-top: 92px;
}

.hover_news_video {
  display: none;
  position: relative;
  z-index: 3;
}

.similar_news_photo_block:hover .hover_news_video {
  display: block;
  width: 50px;
  height: 50px;
  color: #fff;
  margin: 0 auto;
  margin-top: -120px;
  margin-bottom: 47px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #000;
}

.similar_news_photo_block .hover_news_video:hover {
  color: #ffe400;
}

.hover_news_video p {
  font-size: 28px;
  padding-top: 5px;
  padding-left: 5px;
}

.grey_block_under_news_photo p {
  font: 12px Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px 25px;
}

.grey_block_under_news_photo {
  position: relative;
  background-color: #f9f9f9;
  color: #444444;
  border-radius: 20px;
  width: 60%;
  margin: 0 auto;
  margin-top: -23px;
  margin-bottom: 27px;
  z-index: 2;
}

.similar_news_photo_block h6 {
  font: 18px Montserrat, sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  color: #444444;
}

.text_to_ten_block p:first-child {
  padding-top: 17px;
  font: 10px Muli, sans-serif;
  text-transform: uppercase;
  color: #757575;
}

.text_to_ten_block p:last-child {
  padding-top: 28px;
  font: 13px Muli, sans-serif;
  color: #757575;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1.8;
}

.link_ten_block {
  margin-top: 36px;
}

.link_ten_block a {
  text-decoration: none;
  text-transform: uppercase;
  font: 9px Montserrat, sans-serif;
  font-weight: bolder;
  color: #444444;
  background-color: #f9f9f9;
  padding: 6px 16px;
  border-radius: 13px;
  border: 2px solid #f9f9f9;
}

.link_ten_block a:hover {
  color: #444444;
  background-color: #ffe400;
  border: 2px solid #444444;
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .news_photo_block {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /*  Ten Content    */
  .news_page h2 {
    padding-top: 60px;
  }
  .left_hover_photo-news,
  .right_hover_photo-news {
    width: 25px;
    height: 25px;
    border-radius: 13px;
    border: 1px solid #fff;
    color: #fff;
  }
  .left_hover_photo-news:hover,
  .right_hover_photo-news:hover {
    border: 1px solid #000;
    color: #fff;
    background-color: #000;
  }
  .hover_photo-news {
    display: none;
    position: relative;
    z-index: 3;
  }
  .similar_news_photo_block img {
    position: relative;
    z-index: 1;
  }
  .similar_news_photo_block:hover .hover_photo-news {
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .similar_news_photo_block:hover .grey_block_under_news_photo {
    margin-top: 2px;
  }
  .news_photo_block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  /*  Ten Content    */
  .news_page h2 {
    padding-top: 40px;
  }
  .news_photo_block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .similar_news_photo_block:hover .hover_news_video {
    margin-top: -110px;
    margin-bottom: 37px;
  }
  .grey_block_under_news_photo p {
    font: 10px Montserrat, sans-serif;
    font-weight: bolder;
    padding: 8px 13px;
  }
  .similar_news_photo_block h6 {
    font: 15px Montserrat, sans-serif;
    font-weight: bolder;
  }
  .text_to_ten_block p:first-child {
    font: 8px Muli, sans-serif;
  }
  .text_to_ten_block p:last-child {
    padding-top: 20px;
    font: 11px Muli, sans-serif;
  }
  .link_ten_block {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  /*  Ten Content    */
  .news_page h2 {
    padding-top: 40px;
  }
  .left_hover_photo-news,
  .right_hover_photo-news {
    width: 25px;
    height: 25px;
    border-radius: 13px;
    border: 1px solid #fff;
    color: #fff;
  }
  .left_hover_photo-news:hover,
  .right_hover_photo-news:hover {
    border: 1px solid #000;
    color: #fff;
    background-color: #000;
  }
  .hover_photo-news {
    display: none;
    position: relative;
    z-index: 3;
  }
  .similar_news_photo_block img {
    position: relative;
    z-index: 1;
  }
  .similar_news_photo_block:hover .hover_photo-news {
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .similar_news_photo_block:hover .grey_block_under_news_photo {
    margin-top: 2px;
  }
  .news_photo_block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding-top: 20px;
  }
  .grey_block_under_news_photo p {
    font: 11px Montserrat, sans-serif;
    font-weight: bolder;
    padding: 8px 16px;
  }
  .grey_block_under_news_photo {
    width: 50%;
  }
  .similar_news_photo_block h6 {
    font: 15px Montserrat, sans-serif;
    font-weight: bolder;
  }
  .text_to_ten_block p:first-child {
    font: 8px Muli, sans-serif;
  }
  .text_to_ten_block p:last-child {
    padding-top: 20px;
    font: 12px Muli, sans-serif;
    padding-left: 12px;
    padding-right: 12px;
  }
  .link_ten_block {
    margin-top: 25px;
  }
}

.third_content {
  background: url(../img/third_background_who_we_are.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.marvel_who_we_are img {
  margin-top: 162px;
}

.marvel_who_we_are {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.marvel_who_we_are p {
  color: #f3f3f3;
  max-width: 750px;
  margin: 0 auto;
  padding-top: 25px;
  line-height: 1.8;
  padding-bottom: 61px;
}

.marvel_who_we_are .form-main-button button {
  font: 18px Montserrat, sans-serif;
  padding: 20px 0px;
  padding-bottom: 19px;
  width: 225px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 136px;
  text-transform: none;
  margin-right: 20px;
  color: #fff;
  background-color: inherit;
  border: 1px solid #fff;
}

.marvel_who_we_are .form-main-button button:last-child {
  margin-right: 0px;
}

.marvel_who_we_are .form-main-button button:hover {
  color: #000;
  background-color: #ffe400;
  border: 1px solid #444444;
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .marvel_who_we_are img {
    margin-top: 130px;
  }
  .marvel_who_we_are h3 {
    padding-top: 50px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Third Block   */
  .marvel_who_we_are img {
    margin-left: 20px;
    margin-top: 100px;
  }
  .marvel_who_we_are {
    text-align: left;
  }
  .marvel_who_we_are h3 {
    margin-left: 20px;
    padding-top: 50px;
  }
  .marvel_who_we_are p {
    max-width: 500px;
    margin: 0 0;
    padding-bottom: 40px;
    margin-left: 20px;
  }
  .marvel_who_we_are .form-main-button button:first-child {
    margin-left: 20px;
  }
  .marvel_who_we_are .form-main-button button {
    margin-bottom: 75px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  /* Third Block   */
  .marvel_who_we_are img {
    margin-left: 15px;
    margin-top: 80px;
  }
  .marvel_who_we_are {
    text-align: left;
  }
  .marvel_who_we_are h3 {
    margin-left: 15px;
    padding-top: 30px;
  }
  .marvel_who_we_are p {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 450px;
    margin: 0 0;
    padding-bottom: 50px;
  }
  .marvel_who_we_are .form-main-button button {
    margin-left: 15px;
    font: 16px Montserrat, sans-serif;
    padding: 16px 0px;
    width: 175px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 60px;
    margin-right: 0px;
  }
}

@media (max-width: 425px) {
  /* Third Block   */
  .marvel_who_we_are img {
    margin-top: 50px;
  }
  .marvel_who_we_are h3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .marvel_who_we_are p {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 350px;
    padding-top: 35px;
    padding-bottom: 40px;
  }
  .marvel_who_we_are .form-main-button button {
    font: 12px Montserrat, sans-serif;
    margin-left: 10px;
    padding: 14px 0px;
    width: 130px;
    font-weight: 500;
    margin-bottom: 45px;
    margin-right: 0px;
  }
  .marvel_who_we_are .form-main-button button:first-child {
    margin-left: 0px;
  }
}

.seventh_content {
  background: url(../img/seventh_background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.pricing_page {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.pricing_page h2 {
  color: #e8d100;
  padding-top: 83px;
}

.pricing_page h4 {
  font-weight: 700;
}

.seven_price_blocks {
  padding-top: 154px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.grey_top_price_block {
  display: none;
}

.price_block:nth-of-type(2) .grey_top_price_block {
  display: block;
}

.price_block:nth-child(1) .top_content_price_block {
  background: url(../img/services-first.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.grey_top_price_block {
  background-color: #e6e6e6;
}

.grey_top_price_block p {
  font: 15px Muli, sans-serif;
  padding-top: 10px;
  padding-bottom: 12px;
  color: #444444;
}

.price_block:nth-child(2) {
  margin-top: -40px;
}

.price_block:nth-child(2) .top_content_price_block {
  background: url(../img/services-second.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.price_block:nth-child(3) .top_content_price_block {
  background: url(../img/services-third.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.top_content_price_block {
  color: #fff;
}

.top_content_price_block h6 {
  padding-top: 25px;
  padding-bottom: 15px;
  font: 15px Poppins, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

.top_content_price_block p:last-child {
  padding-bottom: 38px;
  font-size: 13px;
}

.price_per_month {
  display: flex;
  justify-content: center;
}

.price_per_month p:nth-child(1) {
  padding-top: 8px;
  font: 30px Poppins, sans-serif;
}

.price_per_month p:nth-child(2) {
  font: 60px Poppins, sans-serif;
  font-weight: 700;
}

.price_per_month p:nth-child(3) {
  padding-top: 50px;
  padding-left: 5px;
  padding-bottom: 28px;
  font: 12px Poppins, sans-serif;
}

.main_content_price_block {
  background-color: #fff;
  padding-top: 60px;
}

.main_content_price_block p {
  color: #808080;
  font: 12px Muli, sans-serif;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #e8e8e8;
}

.form-price_bottom-button {
  margin-top: 4px;
  padding-bottom: 107px;
}

.form-price_bottom-button button {
  font: 14px Montserrat, sans-serif;
  font-weight: 500;
  color: #444444;
  background-color: #fff;
  padding-top: 14px;
  padding-bottom: 12px;
  width: 360px;
  border: 0px;
}

.form-price_bottom-button button:hover {
  color: #ffe400;
  background-color: #000;
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .seven_price_blocks {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }
  .form-price_bottom-button button {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /*  Seven Content  */
  .seven_price_blocks {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .main_content_price_block {
    padding-top: 30px;
  }
  .main_content_price_block p {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .form-price_bottom-button {
    margin-top: 5px;
    padding-bottom: 80px;
  }
  .form-price_bottom-button button {
    width: 100%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  /*  Seven Content  */
  .seven_price_blocks {
    padding-top: 50px;
    grid-template-columns: 1fr;
    padding-left: 15px;
    padding-right: 15px;
  }
  .form-price_bottom-button button {
    width: 100%;
  }
}

@media (max-width: 425px) {
  /*  Seven Content  */
  .seven_price_blocks {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
  .grey_top_price_block p {
    font: 15px Muli, sans-serif;
    padding-top: 10px;
    padding-bottom: 12px;
    color: #444444;
  }
  .price_block:nth-child(2) {
    margin-top: -40px;
  }
  .top_content_price_block h6 {
    padding-top: 25px;
    padding-bottom: 25px;
    font: 18px Poppins, sans-serif;
    font-weight: 500;
  }
  .top_content_price_block p:last-child {
    padding-bottom: 40px;
  }
  .price_per_month {
    display: flex;
    justify-content: center;
  }
  .main_content_price_block {
    padding-top: 0px;
  }
  .form-price_bottom-button {
    padding-bottom: 65px;
  }
  .form-price_bottom-button button {
    width: 100%;
  }
}

.second_content {
  background: url(../img/second_content_background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.responsive_page {
  max-width: 1140px;
  margin: 0 auto;
}

.responsive_page h2 {
  padding-top: 155px;
  margin-left: -8px;
  color: #ffe400;
  font-size: 70px;
}

.responsive_page h4 {
  font-weight: 800;
  margin-top: -46px;
}

.responsive_page p {
  max-width: 555px;
  color: #757575;
  padding-top: 25px;
  line-height: 1.8;
}

.ul_second_block_list {
  margin-top: 28px;
  color: #757575;
}

.ul_second_block_list li {
  padding-top: 17.5px;
  list-style-type: none;
}

.ul_second_block_list li:last-child {
  padding-bottom: 34px;
}

.responsive_page .form-block-button button {
  font: 13px Montserrat, sans-serif;
  color: #000;
  background-color: #ffe400;
  padding: 13px 25px 14px 25px;
  border: 0px solid #ffe400;
  font-weight: bolder;
  text-transform: uppercase;
}

.responsive_page .form-block-button button:hover {
  color: #ffe400;
  background-color: #000;
}

.responsive_page .form-block-button {
  padding-bottom: 116px;
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .responsive_page {
    padding-left: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Second Block   */
  .responsive_page h2 {
    font-size: 60px;
    padding-top: 75px;
    font-weight: 800;
    margin-left: 13px;
  }
  .responsive_page h4 {
    font-size: 30px;
    font-weight: 800;
    margin-left: 20px;
  }
  .responsive_page p {
    max-width: 500px;
    margin-left: 20px;
  }
  .ul_second_block_list {
    margin-top: 40px;
    margin-left: 20px;
  }
  .responsive_page .form-block-button button {
    margin-left: 20px;
  }
  .responsive_page .form-block-button {
    padding-bottom: 80px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  /* Second Block   */
  .responsive_page h2 {
    font-size: 54px;
    padding-top: 60px;
    margin-left: 12px;
  }
  .responsive_page h4 {
    font-size: 28px;
    font-weight: 800;
    margin-left: 17px;
    padding-top: 5px;
  }
  .responsive_page p {
    max-width: 500px;
    margin-left: 15px;
    padding-right: 15px;
    color: #757575;
  }
  .ul_second_block_list {
    margin-top: 30px;
    padding-left: 15px;
  }
  .ul_second_block_list li {
    padding-top: 15px;
  }
  .ul_second_block_list li:last-child {
    padding-bottom: 30px;
  }
  .responsive_page .form-block-button button {
    margin-left: 15px;
  }
  .responsive_page .form-block-button {
    padding-bottom: 80px;
  }
}

@media (max-width: 425px) {
  /* Second Block   */
  .responsive_page h2 {
    padding-top: 4px;
    margin-left: 4px;
    font-size: 40px;
  }
  .responsive_page h4 {
    font-weight: 800;
    margin-left: 10px;
  }
  .responsive_page p {
    max-width: 420px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .ul_second_block_list {
    margin-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .ul_second_block_list li {
    padding-top: 15px;
  }
  .ul_second_block_list li:last-child {
    padding-bottom: 25px;
  }
  .responsive_page .form-block-button button {
    padding: 14px 22px;
    margin-left: 12px;
    margin-right: 12px;
  }
  .responsive_page .form-block-button {
    padding-bottom: 30px;
  }
}

.sixth_background {
  background: url(../img/sixth_background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.six_content {
  max-width: 1140px;
  margin: 0 auto;
}

.service_page {
  max-width: 555px;
  margin-left: auto;
  margin-right: 0;
  padding-bottom: 70px;
  background-color: #fff;
}

.service_page h2 {
  padding-top: 128px;
  font-weight: 900;
}

.service_page h4 {
  font-weight: 700;
}

.service_page_content {
  padding-top: 78px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
}

.service_page_content_block {
  text-align: center;
}

.service_page_content_block:hover {
  background-color: #e8e8e8;
}

.service_page_content_block i {
  padding-top: 45px;
  font-size: 40px;
  color: #444444;
}

.service_page_content_block h6 {
  font: 18px Montserrat, sans-serif;
  color: #444444;
  font-weight: bolder;
  text-transform: uppercase;
  padding-top: 35px;
}

.service_page_content_block p {
  padding-top: 23px;
  padding-bottom: 55px;
  text-align: center;
  line-height: 1.8;
  color: #757575;
}

@media (min-width: 769px) and (max-width: 1024px) {
  /*   Sixth content   */
  .service_page {
    max-width: 500px;
    padding-bottom: 30px;
  }
  .service_page h2 {
    padding-top: 70px;
  }
  .service_page_content {
    padding-top: 40px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  /*   Sixth content   */
  .sixth_background {
    background: none;
  }
  .service_page {
    margin: 0 auto;
    padding-bottom: 45px;
  }
  .service_page h2 {
    padding-top: 40px;
    text-align: center;
  }
  .service_page h4 {
    text-align: center;
  }
  .service_page_content {
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
  .service_page_content_block i {
    padding-top: 25px;
    font-size: 28px;
  }
  .service_page_content_block h6 {
    font: 16px Montserrat, sans-serif;
    font-weight: bolder;
    padding-top: 30px;
  }
  .service_page_content_block p {
    padding: 30px 15px;
  }
}

@media (max-width: 425px) {
  /*   Sixth content   */
  .sixth_background {
    background: none;
  }
  .service_page {
    max-width: 401px;
    padding-bottom: 35px;
  }
  .service_page h2 {
    padding-top: 30px;
    text-align: center;
  }
  .service_page h4 {
    text-align: center;
  }
  .service_page_content {
    padding-top: 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 12px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .service_page_content_block i {
    padding-top: 25px;
    font-size: 26px;
  }
  .service_page_content_block h6 {
    font: 14px Montserrat, sans-serif;
    font-weight: bolder;
    padding-top: 25px;
  }
  .service_page_content_block p {
    padding-top: 25px;
    padding-bottom: 30px;
  }
}

.fifth_content {
  background-color: #ffe400;
}

.work_page {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 55px;
}

.work_page h2 {
  color: #e8d100;
  padding-top: 85px;
}

.work_page h4 {
  font-weight: 800;
  color: #000;
}

.work_page_buttons {
  padding-top: 40px;
}

.work_page_buttons .form-block-button button {
  font: 13px Montserrat, sans-serif;
  color: #000;
  background-color: inherit;
  border: 1px solid #000;
  margin-right: 3px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
  padding-top: 9px;
  padding-bottom: 9px;
}

.work_page_buttons .form-block-button button:hover {
  color: #ffe400;
  background-color: #000;
  border: 1px solid #000;
}

.work_page_buttons .form-block-button button:last-child {
  margin-right: 0px;
}

.work_page_buttons .form-block-button i {
  font-size: 14px;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  padding: 10px;
  margin-right: 5px;
}

.work_page_buttons .form-block-button i:hover {
  color: #ffe400;
  background-color: #000;
  border: 1px solid #000;
}

.fifth_photos_block {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0px;
}

.container_to_photos_block {
  position: relative;
  z-index: 1;
}

.text_hover_to_photos_block {
  position: relative;
  z-index: 2;
}

.text_hover_to_photos_block .icons_to_photo_block {
  position: relative;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  max-width: 25%;
  border-radius: 25px;
  background-color: #e8e8e8;
  margin-top: -95px;
  z-index: 5;
}

.icon_circle {
  height: 25px;
  width: 25px;
  border-radius: 13px;
  border: 1px solid #000;
  background-color: #fff;
  margin-right: 11px;
  z-index: 5;
}

.container_to_photos_block:hover .fifth_photos_block {
  background-color: #e8e8e8;
}

.icon_circle i {
  color: #000;
  font-size: 13px;
  padding-left: 5px;
  padding-top: 5px;
}

.icon_circle:hover {
  border: 1px solid #ffe400;
  background-color: #ffe400;
}

.text_to_photo_block {
  display: flex;
  background-color: #e8e8e8;
  z-index: 4;
  margin-top: -27px;
}

.text_to_photo_block h6 {
  font: 14px Montserrat, sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  color: #444444;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-top: 25px;
}

.text_to_photo_block p {
  padding-top: 30px;
  color: #757575;
  font: 9px Muli, sans-serif;
  text-transform: uppercase;
}

.text_hover_to_photos_block {
  display: none;
}

.container_to_photos_block:hover .text_hover_to_photos_block {
  display: block;
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .fifth_photos_block {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /*  Fifth content  */
  .work_page h2 {
    padding-top: 30px;
  }
  .fifth_photos_block {
    grid-template-columns: repeat(2, 1fr);
  }
  .text_to_photo_block {
    display: flex;
    background-color: #e8e8e8;
    z-index: 4;
    margin-top: -26px;
  }
  .icon_circle {
    display: none;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  /*  Fifth content  */
  .work_page {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 45px;
  }
  .work_page_buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .work_page_buttons .form-block-button button {
    font: 11px Montserrat, sans-serif;
    width: 85px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  .work_page_buttons .form-block-button button:last-child {
    width: 105px;
    font: 11px Montserrat, sans-serif;
    font-weight: 700;
  }
  .work_page_buttons .form-block-button i {
    padding: 9px;
  }
  .fifth_photos_block {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
  }
  .icon_circle {
    display: none;
  }
}

@media (max-width: 425px) {
  /*  Fifth content  */
  .work_page {
    padding-bottom: 35px;
  }
  .work_page_buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .work_page_buttons .form-block-button button {
    font: 10px Montserrat, sans-serif;
    width: 80px;
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 10px;
  }
  .work_page_buttons .form-block-button button:last-child {
    width: 100px;
  }
  .work_page_buttons .form-block-button i {
    font-size: 14px;
    padding: 8px;
    padding-top: 7px;
    padding-bottom: 9px;
  }
  .fifth_photos_block {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
  }
  .icon_circle {
    display: none;
  }
}

.footer_map_bacground {
  background: url(../img/footer-map-backgound.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer_map {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.footer_map p {
  padding-top: 65px;
  padding-bottom: 61px;
  font: 30px Montserrat, sans-serif;
  font-weight: bolder;
}

.main_content_footer_background {
  background-color: #212121;
}

.main_content_footer {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 30px;
  text-align: center;
}

.flang_content_footer {
  margin: 0 auto;
}

.footer_social_icons {
  margin: auto 0;
}

.footer_social_icons i {
  color: #fff;
  font-size: 20px;
}

.footer_social_icons i:hover {
  color: #ffe400;
}

.footer_social_icons a {
  margin-right: 35px;
}

.footer_social_icons a:last-child {
  margin-right: 0px;
}

.footer_circle {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #e8e8e8;
  margin: 0 auto;
  margin-top: 62px;
  margin-bottom: 15px;
}

.footer_circle:hover {
  border: 1px solid #ffe400;
}

.footer_circle i {
  font-size: 22px;
  padding-left: 0px;
  padding-top: 12px;
  color: #fff;
}

.footer_circle:hover i {
  color: #ffe400;
}

.flang_content_footer a {
  font: 13px Muli, sans-serif;
  color: #fff;
  padding-bottom: 83px;
  text-decoration: none;
}

.flang_content_footer p {
  font: 13px Muli, sans-serif;
  color: #fff;
  padding-bottom: 83px;
}

.bottom_footer_bacground {
  background-color: #2e2d2d;
}

.bottom_footer {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
}

.bottom_footer p {
  font: 12px Muli, sans-serif;
}

@media (min-width: 769px) and (max-width: 1024px) {
  /*  Footer   */
  .footer_map p {
    padding-top: 35px;
    padding-bottom: 40px;
    font: 26px Montserrat, sans-serif;
    font-weight: bolder;
  }
  .main_content_footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer_social_icons i {
    font-size: 18px;
  }
  .footer_social_icons a {
    margin-right: 25px;
  }
  .footer_circle {
    margin-top: 30px;
  }
  .flang_content_footer p {
    padding-bottom: 45px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  /*  Footer   */
  .footer_map p {
    padding-top: 30px;
    padding-bottom: 30px;
    font: 22px Montserrat, sans-serif;
    font-weight: bolder;
  }
  .main_content_footer {
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 15px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer_social_icons i {
    font-size: 16px;
    padding-top: 5px;
  }
  .footer_social_icons a {
    margin-right: 20px;
  }
  .bottom_footer {
    margin-top: -1px;
  }
}

@media (max-width: 425px) {
  /*  Footer   */
  .footer_map p {
    padding-top: 25px;
    padding-bottom: 25px;
    font: 18px Montserrat, sans-serif;
    font-weight: bolder;
  }
  .main_content_footer {
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 12px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .footer_social_icons i {
    font-size: 15px;
    padding-top: 5px;
  }
  .footer_social_icons a {
    margin-right: 15px;
  }
  .footer_circle {
    margin-top: 20px;
  }
  .flang_content_footer .footer_circle i {
    font-size: 20px;
  }
  .flang_content_footer p {
    padding-bottom: 25px;
  }
}

/*# sourceMappingURL=index.css.map */
