
.expert_page {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 358px;
}

.expert_page h2 {
  padding-top: 230px;
}

.expert_content_blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  padding-top: 106px;
}

.expert_block:hover {
  background-color: #FFE400;
}

.expert_block:hover img {
  display: none;
}

.expert_block:hover .text_about_expert {
  background-color: #FFE400;
}

.expert_block:hover h5 {
  padding-top: 90px;
  font: 24px $font-article;
  font-weight: bolder;
  text-transform: uppercase;
  color: #000;
}

.expert_block:hover h6 {
  padding-top: 15px;
  font: 16px $font-article;
  font-weight: bolder;
  text-transform: uppercase;
  color: #000;
}

.social_icons a:hover i{
  color: #000;
}

.expert_block:hover p {
  font: 12px $font-basic;
  padding-top: 70px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 700;
  padding-bottom: 120px;
  color: #000;
}

.expert_block:hover hr {
  border-top: 1px dashed #6B6000;
  width: 80%;
  margin: 0 auto;
}

.expert_block:hover hr:first-of-type {
  display: none;
}

.expert_block .social_icons{
  display: none;
}

.expert_block:hover .social_icons{
  display: block;
}

.expert_block p{
  display: none;
}

.expert_block:hover p{
  display: block;
}

.expert_block hr:last-of-type{
  display: none;
}

.expert_block:hover hr:last-of-type{
  display: block;
}

.expert_block .social_icons i{
  color: #6B6000;
  font-size: 18px;
}

.expert_block .social_icons{
  margin-top: 40px;
}

.expert_block .social_icons a{
  margin-right: 28px;
}
.expert_block .social_icons a:last-child{
  margin-right: 0px;
}

.text_about_expert{
  background-color: $color_for_grey_h2;
}

.expert_block h5{
  padding-top: 20px;
  padding-bottom: 20px;
  font: 16px $font-article;
  color: $color_for_h1;
  font-weight: 700;
  text-transform: uppercase;
}

.text_about_expert h6{
  padding-top: 22px;
  padding-bottom: 23px;
  font: 11px $font-article;
  color: $color_for_h1;
  font-weight: bolder;
  text-transform: uppercase;
}

.text_about_expert hr{
  border-top: 1px dashed #D0D0D0;
  width: 80%;
  margin: 0 auto;
}

.text_about_expert p{
  padding-top: 20px;
  padding-bottom: 20px;
  font: 11px $font-article;
  color: $color_for_h1;
  font-weight: bolder;
  text-transform: uppercase;
}

.text_about_expert {
  margin-top: 6px;

}



@media (min-width:1025px) and (max-width:1199px) {

  .expert_page h2 {
    padding-top: 150px;
  }

  .expert_page{
    padding-bottom: 250px;
  }

  .expert_content_blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .expert_content_blocks:first-child {
    padding-top: 110px;
  }

  .expert_block:hover h5 {
    padding-top: 60px;
  }

  .expert_block:hover p {
    padding-top: 50px;
    padding-bottom: 70px;
  }

}


@media (min-width:769px) and (max-width:1024px) {
  /*   Eigth Content      */

  .expert_page {
    padding-bottom: 150px;
  }

  .expert_page h2 {
    padding-top: 100px;
  }

  .expert_content_blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .expert_block:hover h5 {
    font-size: 22px;
    padding-top: 40px;
  }

  .expert_block:hover h6 {
    font-size: 15px;
    padding-top: 10px;
  }

  .expert_block:hover p {
    font: 11px $font-basic;
    color: $color_for_dark_grey;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    color: #000;
  }

  .expert_block .social_icons a{
    margin-right: 15px;
  }

}
