.top_header_background {
  background: url(../img/top_header_background.png);
  background-size:cover;
  background-repeat: no-repeat;
}

.top_header {
    max-width: $max-width;
    margin: 0 auto;
}

.top_header h1{
  padding-top: 490px;
  font: 60px $font-article;
  text-transform: uppercase;
  padding-left: 0px;
  font-weight: 800;
  color: $color_for_h1;
}

.top_header p{
  padding-top: 65px;
  font: 13px $font-lato;
  color: $color_for_main_text;
  max-width: 765px;
  line-height: 1.8;
}

.top_header form{
  padding-bottom: 229px;
}

.top_header .form-main-button button{
  font: 16px $font-article;
  font-weight: 700;
  padding: 19px 33px 15px 33px;
}


.form-main-button button{
  font: 16px $font-article;
  font-weight: 900;
  padding: 19px 33px;
  color: $color_for_h1;
  border: 1px solid $color_for_h1;
  margin-top: 18px;
  background-color: #FFFFFF;
}

.form-main-button button:hover{
  background-color: $color_for_yellow;
}

.header_menu_background{
    background-color: $color_for_menu_block;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header_menu{
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  max-width: $max-width;
  margin: 0 auto;
}

.header_menu img{
  width: 186px;
  height: 33px;
  margin-top: 24px;
  margin-bottom: 22px;
  margin-left: 4px;
}

.header_menu ul{
  display: flex;
  justify-content: space-between;
  margin-right: 45px;
  text-decoration: none;
}

.ul_menu li{
  font: 14px $font-article;
  cursor: pointer;
  padding-right: 65px;
  margin-top: 30px;
  margin-bottom: 28px;
}

.ul_menu a{
  color: #FFF;
  text-decoration: none;
}

.ul_menu a:hover{
  color: $color_for_yellow;
}

ul.ul_menu li:last-child{
  padding-right: 0px;
}


@media (min-width:1025px) and (max-width:1199px) {

  /* Header */


  .top_header h1{
  padding-top: 250px;
  font: 50px $font-article;
  font-weight: 800;
  }

  .top_header form{
  padding-bottom: 150px;
  }

  .top_header p{
  padding-left: 50px;
  }

  .top_header form{
  padding-left: 50px;
  }

  .header_menu img{
  padding-left: 20px;
  }

  .header_menu ul{
  margin-right: 20px;
  }

  .ul_menu li{
  padding-right: 50px;
  }

}

@media (min-width:769px) and (max-width:1024px) {

  /*  Header   */


.top_header h1{
padding-top: 150px;
font: 40px $font-article;
padding-left: 20px;
font-weight: 800;
}

.top_header p{
padding-top: 50px;
padding-left: 20px;
max-width: 525px;
}

.top_header form{
padding-bottom: 50px;
padding-left: 20px;
}

.form-main-button button{
padding: 16px 22px;
}

.header_menu img{
width: 150px;
height: 28px;
margin-top: 20px;
margin-bottom: 20px;
margin-left: 20px;
}

.header_menu ul{
margin-right: 20px;
}

.ul_menu li{
font: 13px $font-article;
padding-right: 25px;
}
}


@media (min-width:426px) and (max-width:768px) {
  /*  Header   */

.top_header h1{
padding-top: 60px;
font: 32px $font-article;
padding-left: 15px;
font-weight: 800;
}

.top_header p{
padding-top: 35px;
padding-left: 15px;
max-width: 350px;
}

.top_header form{
padding-bottom: 0px;
padding-left: 15px;
}

.top_header .form-main-button button{
font: 15px $font-article;
font-weight: 700;
padding: 14px 20px;
margin-bottom: 80px;
}

.header_menu {
display: block;
text-align: center;
}

.header_menu img{
margin-bottom: 0px;
}

.header_menu ul{
display: flex;
justify-content: space-between;
margin-right: 15px;
margin-left: 15px;
}

.ul_menu li{
font: 13px $font-article;
padding-right: 15px;
margin-top: 20px;
margin-bottom: 25px;
}
}


@media (max-width:425px) {

  /*  Header   */


.top_header h1{
padding-top: 50px;
font: 26px $font-article;
padding-left: 12px;
font-weight: 800;
}

.top_header p{
padding-top: 25px;
font: 13px $font-lato;
max-width: 300px;
padding-left: 12px;
padding-left: 12px;
}

.top_header form{
padding-bottom: 0px;
padding-left: 12px;
}

.top_header .form-main-button button{
font: 13px $font-article;
font-weight: 600;
padding: 9px 12px;
margin-top: 20px;
margin-bottom: 50px;
}


.header_menu{
display: block;
text-align: center;
}

.header_menu img{
margin-bottom: 0px;
}

.header_menu ul{
display: flex;
justify-content: center;
flex-wrap: wrap;
margin-right: 12px;
margin-left: 12px;
}

.ul_menu li{
font: 13px $font-article;
padding-right: 15px;
margin-bottom: 20px;
}

}
