
.tenth_content{
  max-width: $max-width;
  margin: 0 auto;
  text-align: center;
}

.news_page h2{
  padding-top: 115px;
}

.news_page h4{
  font-weight: 700;
}

.left_hover_photo-news, .right_hover_photo-news{
  width: 25px;
  height: 25px;
  border-radius: 13px;
  border: 1px solid #FFF;
  color: #FFF;
}

.left_hover_photo-news:hover, .right_hover_photo-news:hover{
  border: 1px solid #000;
  color: #FFF;
  background-color: #000;
}

.hover_photo-news{
  display: none;
  position: relative;
  z-index: 3;
}

.similar_news_photo_block img{
  position: relative;
  z-index: 1;
}

.similar_news_photo_block:hover .hover_photo-news{
  display: flex;
  justify-content: space-between;
  margin-top: -50px;
  margin-left: 20px;
  margin-right: 20px;
}

.similar_news_photo_block:hover .grey_block_under_news_photo{
  margin-top: 2px;
}

.news_photo_block{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  padding-top: 94px;
}

.hover_news_video{
  display: none;
  position: relative;
  z-index: 3;
}

.similar_news_photo_block:hover .hover_news_video{
  display: block;
  width: 50px;
  height: 50px;
  color: #FFF;
  margin: 0 auto;
  margin-top: -120px;
  margin-bottom: 47px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #000;
}

.similar_news_photo_block .hover_news_video:hover{
  color: $color_for_yellow;
}

.hover_news_video p{
  font-size: 28px;
  padding-top: 5px;
  padding-left: 5px;
}

.grey_block_under_news_photo p{
  font: 12px $font-article;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px 25px;
}

.grey_block_under_news_photo {
  position: relative;
  background-color: #F9F9F9;
  color: $color_for_h1;
  border-radius: 20px;
  width: 60%;
  margin: 0 auto;
  margin-top: -23px;
  margin-bottom: 27px;
  z-index: 2;
}

.similar_news_photo_block h6{
  font: 18px $font-article;
  font-weight: bolder;
  text-transform: uppercase;
  color: $color_for_h1;
}

.text_to_ten_block p:first-child{
  padding-top: 5px;
  font: 10px $font-basic;
  text-transform: uppercase;
  color: $color_for_dark_grey;
}

.text_to_ten_block p:last-child{
  padding-top: 28px;
  font: 16px $font-basic;
  color: $color_for_dark_grey;
  padding-left: 15px;
  padding-right: 15px;
}

.link_ten_block{
  margin-top: 36px;
}

.link_ten_block a{
  text-decoration: none;
  text-transform: uppercase;
  font: 9px $font-article;
  font-weight: bolder;
  color: $color_for_h1;
  background-color: #F9F9F9;
  padding: 6px 16px;
  border-radius: 13px;
  border: 2px solid  #F9F9F9;
}

.link_ten_block a:hover{
  color: $color_for_h1;
  background-color: $color_for_yellow;
  border: 2px solid   $color_for_h1;
}
