.sixth_background {
  background: url(../img/sixth_background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.six_content {
  max-width: $max-width;
  margin: 0 auto;
}

.service_page {
  max-width: 555px;
  margin-left: auto;
  margin-right: 0;
  padding-bottom: 70px;
  background-color: #fff;
}

.service_page h2 {
  padding-top: 128px;
  font-weight: 900;
}

.service_page h4 {
  font-weight: 700;
}

.service_page_content {
  padding-top: 78px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
}

.service_page_content_block {
  text-align: center;
}

.service_page_content_block:hover {
  background-color: $color_for_grey_h2;
}

.service_page_content_block i {
  padding-top: 45px;
  font-size: 40px;
  color: $color_for_h1;
}

.service_page_content_block h6 {
  font: 18px $font-article;
  color: $color_for_h1;
  font-weight: bolder;
  text-transform: uppercase;
  padding-top: 35px;
}

.service_page_content_block p {
  padding-top: 23px;
  padding-bottom: 55px;
  text-align: center;
  line-height: 1.8;
  color: $color_for_dark_grey;
}

@media (min-width: 769px) and (max-width: 1024px) {
  /*   Sixth content   */

  .service_page {
    max-width: 500px;
    padding-bottom: 30px;
  }

  .service_page h2 {
    padding-top: 70px;
  }

  .service_page_content {
    padding-top: 40px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  /*   Sixth content   */

  .sixth_background {
    background: none;
  }

  .service_page {
    margin: 0 auto;
    padding-bottom: 45px;
  }

  .service_page h2 {
    padding-top: 40px;
    text-align: center;
  }

  .service_page h4 {
    text-align: center;
  }

  .service_page_content {
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }

  .service_page_content_block i {
    padding-top: 25px;
    font-size: 28px;
  }

  .service_page_content_block h6 {
    font: 16px $font-article;
    font-weight: bolder;
    padding-top: 30px;
  }

  .service_page_content_block p {
    padding: 30px 15px;
  }
}

@media (max-width: 425px) {
  /*   Sixth content   */

  .sixth_background {
    background: none;
  }

  .service_page {
    max-width: 401px;
    padding-bottom: 35px;
  }

  .service_page h2 {
    padding-top: 30px;
    text-align: center;
  }

  .service_page h4 {
    text-align: center;
  }

  .service_page_content {
    padding-top: 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 12px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .service_page_content_block i {
    padding-top: 25px;
    font-size: 26px;
  }

  .service_page_content_block h6 {
    font: 14px $font-article;
    font-weight: bolder;
    padding-top: 25px;
  }

  .service_page_content_block p {
    padding-top: 25px;
    padding-bottom: 30px;
  }
}
