
.third_content {
  background: url(../img/third_content_background.png);
  background-size:cover;
  background-repeat: no-repeat;
}

.marvel_who_we_are{
  max-width: $max-width;
  margin: 0 auto;
  text-align: center;
}

.marvel_who_we_are p{
  color: #F3F3F3;
  max-width: 750px;
  margin: 0 auto;
  padding-top: 25px;
  line-height: 1.8;
  padding-bottom: 63px;
}

.marvel_who_we_are .form-main-button button{
  font: 18px $font-article;
  padding: 20px 0px;
  padding-bottom: 19px;
  width: 225px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 136px;
  text-transform: none;
  margin-right: 15px;
  color: #FFF;
  background-color: inherit;
  border: 1px solid #FFF;
}

.marvel_who_we_are .form-main-button button:last-child{
  margin-right: 0px;
}

.marvel_who_we_are .form-main-button button:hover{
  color: #000;
  background-color: $color_for_yellow;
  border: 1px solid $color_for_h1;
}



@media (min-width:1025px) and (max-width:1199px) {
  .marvel_who_we_are h3{
    padding-top: 180px;
  }
}


@media (min-width:769px) and (max-width:1024px) {

  /* Third Block   */

.marvel_who_we_are{
text-align: left;
}

.marvel_who_we_are h3{
margin-left: 20px;
}

.marvel_who_we_are p{
max-width: 500px;
margin: 0 0;
padding-bottom: 40px;
margin-left: 20px;
}

.marvel_who_we_are .form-main-button button:first-child{
margin-left: 20px;
}

.marvel_who_we_are .form-main-button button{
margin-bottom: 75px;
}
}


@media (min-width:426px) and (max-width:768px) {

  /* Third Block   */

.marvel_who_we_are{
text-align: left;
}

.marvel_who_we_are h3{
margin-left: 15px;
}

.marvel_who_we_are p{
padding-left: 15px;
padding-right: 15px;
max-width: 450px;
margin: 0 0;
padding-bottom: 50px;
}

.marvel_who_we_are .form-main-button button{
margin-left: 15px;
font: 16px $font-article;
padding: 16px 0px;
width: 175px;
font-weight: 500;
margin-top: 0px;
margin-bottom: 60px;
margin-right: 0px;
}
}

@media (max-width:425px) {
  /* Third Block   */
  .marvel_who_we_are h3{
    padding-left: 12px;
    padding-right: 12px;
  }

.marvel_who_we_are p{
padding-left: 12px;
padding-right: 12px;
max-width: 350px;
padding-top: 35px;
padding-bottom: 40px;
}

.marvel_who_we_are .form-main-button button{
font: 12px $font-article;
margin-left: 10px;
padding: 14px 0px;
width: 130px;
font-weight: 500;
margin-bottom: 45px;
margin-right: 0px;
}

.marvel_who_we_are .form-main-button button:first-child{
margin-left: 0px;
}
}
