/*  Days   */

.days_block {
  margin: 0 auto;
  margin: 0px 20px 0px 13vw;
  text-align: center;
}

.days_block i {
  font-size: 28px;
  padding: 0px 30px;
}

.days_block i:nth-of-type(2) {
  color: $green;
}

.days_block i:first-child:hover {
  color: $green;
}

.days_block i:hover {
  color: $red_in_site;
}

.single_list_block {
  border: 1px solid $light_grey;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}

.single_list_block:hover {
  background-color: #f4f4f4;
}

.info_list_block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
}

.info_list_block p {
  font-size: 18px;
  padding-top: 5px;
}
