/*  Main statistic   */

.main_statistic {
  padding: 20px 0px 0px 13vw;
  margin-bottom: 50px;
}

.main_statistic p {
  font-size: 18px;
}

.enter_form {
  text-align: center;
  margin-top: 50px;
}

.enter_form button {
  font-family: $font-basic;
  height: 50px;
  padding: 10px 30px;
  background-color: $red_in_site;
  border: 1px solid $red_in_site;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.enter_form button:hover {
  background-color: $green;
  border: 1px solid $green;
}

.enter_form button:first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.enter_form button:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.enter_form input {
  font-family: $font-basic;
  font-size: 16px;
  height: 50px;
  border: 0px solid white;
  padding: 0px 20px;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.enter_form input:first-of-type {
  min-width: 500px;
}

.enter_form input:last-of-type {
  min-width: 350px;
}
