include ../components/mixins
div.fourth_content
  div.features_page
    h2 Features
    h4 We're creative crafting with love
    div.fourth_content_blocks
      +fourth_main_block('fas fa-unlock-alt', 'Powerful Security', 'Lorem ipsum dolor sicon adipiscing elit. Etiam anferme ntubero eget rorem interdum.')
      +fourth_main_block('fas fa-lightbulb', 'Creative ideas', 'Lorem ipsum dolor sicon adipiscing elit. Etiam anferme ntubero eget rorem interdum.')
      +fourth_main_block('fas fa-cog', 'Poverfull admin panel', 'Lorem ipsum dolor sicon adipiscing elit. Etiam anferme ntubero eget rorem interdum.')
      +fourth_main_block('fas fa-microphone', 'High resolution theme', 'Lorem ipsum dolor sicon adipiscing elit. Etiam anferme ntubero eget rorem interdum.')
      +fourth_main_block('fas fa-glasses', 'Awesome interface', 'Lorem ipsum dolor sicon adipiscing elit. Etiam anferme ntubero eget rorem interdum.')
      +fourth_main_block('fas fa-location-arrow', 'Untimade website builder', 'Lorem ipsum dolor sicon adipiscing elit. Etiam anferme ntubero eget rorem interdum.')
      +fourth_main_block('fas fa-laptop', 'Responsive theme', 'Lorem ipsum dolor sicon adipiscing elit. Etiam anferme ntubero eget rorem interdum.')
      +fourth_main_block('far fa-bell', 'Custom content blocks', 'Lorem ipsum dolor sicon adipiscing elit. Etiam anferme ntubero eget rorem interdum.')
      +fourth_main_block('fas fa-camera', 'Trendy design', 'Lorem ipsum dolor sicon adipiscing elit. Etiam anferme ntubero eget rorem interdum.')
