div.footer
  div.footer_map_bacground
    div.footer_map
      p Locate us on map &or;
  div.main_content_footer_background
    div.main_content_footer
      div.flang_content_footer
        div.footer_circle
          i(class="fas fa-mobile-alt")
        a(href="tel:(999) 000-122-233") Phone :(999) 000-122-233  
      div.footer_social_icons
        a(href="#")
          i(class="fab fa-twitter") 
        a(href="#")
          i(class="fab fa-linkedin")
        a(href="#")
          i(class="fab fa-facebook")
        a(href="#")
          i(class="fab fa-skype")
        a(href="#")
          i(class="fab fa-pinterest")
        a(href="#")
          i(class="fab fa-apple")   
      div.flang_content_footer
        div.footer_circle
          i(class="fas fa-globe") 
        p 123 stoke, South America, 205  
  div.bottom_footer_bacground
    div.bottom_footer
      p All Rights Reserved &copy; Themexpert 2016        
