div.first_content
  div.page_about
    h2 About
    h4 This is the one page polo
    p Molestie iltricies quam. Donec at sem. Prasent pretium. Maorbi quis nulla venicula felsd laoreet. Sed ullamcorper arcu ente. Sed tempus tempor cild Nulla vierra ultrices magnal Nam rutrum congue diam.do eiusmod tempor incididunt ut dolore manga aliqua. Utdi eni ad minim veniam, quis nostrud exercitationconsequat
    form.form-main-button
      +main_button('More Info')
      +main_button('Join Expreance')
  div.first_content_text_block
    div.first_c_text_block
      i(class="fas fa-star-half-alt")
      h6 Responsive Design
      p Lorem ipsum dolor sit amet, consectetur adipiscing elitelquam. Fusce quis nulla tincidunt interdum magna vitae.   
    div.first_c_text_block
      i(class="fas fa-globe")
      h6 Awesome Features
      p Lorem ipsum dolor sit amet, consectetur adipiscing elitelquam. Fusce quis nulla tincidunt interdum magna vitae.   
    div.first_c_text_block
      i(class="fab fa-cloudscale")
      h6 Powerful Security
      p Lorem ipsum dolor sit amet, consectetur adipiscing elitelquam. Fusce quis nulla tincidunt interdum magna vitae.   
  div.first_block_statistics
    h5 Here're some impressive numbers about us
    div.container_to_first_statistics
      div.first_statistics
        p 7533
        p Project Complete    
      div.first_statistics
        p 4222
        p Happy Client  
      div.first_statistics
        p 6980+
        p Positive Feedback  
        
        
        
        
