include ../components/mixins
div.seventh_content
  div.pricing_page
    h2 Pricing
    h4 Choose your plan
    div.seven_price_blocks
      +seventh_price_block('Standart','107','&gt; 100 Pages Websites ','&gt; Sell 1 Product & Accept Donatiors','&gt; Developer Platform','&gt; 20 Pages Galleries','&gt; 120 GB Cloud Storage','-','-')
      +seventh_price_block('Premium','433','&gt; 10 Pages Websites ','&gt; Sell 1 Product & Accept Donatiors','&gt; Developer Platform','&gt; 20 Pages Galleries','&gt; 120 GB Cloud Storage','&gt; Mobile Website and Store','-')
      +seventh_price_block('Ultimate','1233','&gt; 10 Pages Websites ','&gt; Sell 1 Product & Accept Donatiors','&gt; Developer Platform','&gt; 20 Pages Galleries','&gt; 120 GB Cloud Storage','&gt; Mobile Website and Store','&gt; 24/7 Support')
