div.second_content
  div.responsive_page
    h2 Responsive
    h4 Boost your website
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etia fermentum vel libero eget interdum semper libero.
    ul.ul_second_block_list
      li
        i(class="fas fa-star") Responsive Design & Retina Ready.
      li
        i(class="fas fa-star") Business Solution Any Company.
      li
        i(class="fas fa-star") Powerful Admin Panel.
      li
        i(class="fas fa-star") 24/7 Support.
    //button    
        
        
