div.third_content
  div.marvel_who_we_are
    img(src="../../src/img/logo_who_we_are.png" alt="MARVEL LOGO")
    h3 Who we are
    p Lorem ipsum dolor sit amet, consectetuer ux adipiscing elit, sed diam nonummy nibh and euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
    form.form-main-button
      +main_button('More Info')
      +main_button('Join Expreance')
