<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>toggl</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Montserrat:300,400,500,700,800,900|Muli:300,400,600,700,800,900|Poppins:400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/brands.css" integrity="sha384-1KLgFVb/gHrlDGLFPgMbeedi6tQBLcWvyNUN+YKXbD7ZFbjX6BLpMDf0PJ32XJfX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css" integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0" crossorigin="anonymous">
  </head>
  <body>
    <div class="content">
      <div class="smallHeader">
        <div class="contactInfo">
          <div><i class="far fa-envelope"></i><a href="mailto:info@shopy.com">info@shopy.com</a></div>
          <div><i class="fas fa-phone"></i><a href="tel:+4535553996">453-5553-996</a></div>
        </div>
        <div class="socialNetworks"><i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i><i class="fab fa-google-plus-g"></i><i class="fab fa-instagram"></i></div>
      </div>
      <div class="big_header">
        <div class="logo"><img class="logo" src="../../src/img/logo.png" alt="Shopy Logo"></div>
        <div class="menu"><a href="#">Home  </a><a href="#">Products </a><a href="#">No Deals</a><a href="#">About </a><a href="#">Contact</a></div>
        <div class="icons"><i class="fas fa-search"></i><i class="fas fa-user-alt"></i>
          <div class="simple_icon">
            <div> <span>5</span></div><i class="fas fa-shopping-cart"> </i>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="product_images"><img class="main_image" src="../../src/img/BigProductImg.png" alt="Main Product Img">
          <div class="other_product_images"><img class="other_image" src="../../src/img/Product1.png" alt="other Product Img"><img class="other_image" src="../../src/img/Product2.png" alt="other Product Img"><img class="other_image" src="../../src/img/BigProductImg.png" alt="other Product Img"></div>
        </div>
        <div class="product_information">
          <h1>Full winter kit</h1>
          <h4>Half Jacket + Skiny Trousers + Boot leather</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry <br> Lorem Ipsum is simply dummy text of the printing <br> and typesetting industry   </p>
          <div class="size_quantity">
            <div>
              <h3>Choos Size </h3><span>S</span><span>-</span><span>M</span><span>- </span><span class="active_span">L</span><span>-</span><span>XL </span>
            </div>
            <div> 
              <h3>Choos Quantity</h3><span>+</span><span class="active_span">3</span><span>-</span>
            </div>
          </div>
          <div class="block_for_buy">
            <h3>Price : 120$</h3>
            <div>
              <div class="for_buy_icons"><i class="fas fa-globe"></i><i class="fas fa-cart-plus"></i><i class="far fa-heart"></i></div>
              <button class="button_for_buy" type="submit">Order Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>