mixin fourth_main_block(fourth_icon_name, fourth_h6, fourth_p )
  div.fourth_similar_block
    div.fourth_similar_block_circle
      i(class=fourth_icon_name)
    div.fourth_similar_block_text
      h6 #{fourth_h6}
      p #{fourth_p}
