div.header
  div.top_header_background
    div.top_header
      h1 Creative and Professional
      p Use, by you or one client, in a single end product which end users are not charged for. Use, by you or one client, in a single end product which end users are not charged for.
      //+main_button('Contact us')  
div.header_menu_background
  div.header_menu
    img(class="header-logo" src="../img/logo_header_menu.png" alt="MARVEL logo")
    ul(class="ul_menu")
      li 
        a(href="#") HOME
      li 
        a(href="#") SERVICE
      li 
        a(href="#") ABOUT
      li 
        a(href="#") PORTFOLIO    
      li 
        a(href="#") PAGE
      li 
        a(href="#") BLOG
      li 
        a(href="#") CONTACT
         
