mixin tenth_similar_news(way_to_photo, news_data)
div.similar_news_photo_block
  img(class="news_photo" src=way_to_photo alt="news photo")
  div.hover_photo-news
    div.left_hover_photo-news
      p &lt;
    div.right_hover_photo-news
      p &gt;   
  div.grey_block_under_news_photo
    p #{news_data} 
  h6 #{news_h6}
  div.text_to_ten_block
    p By Admin . In Logo . 1 Comment
    p Lorem Ipsum is simply dummy text of the iinting and typesette industry lorem Ipsum has...
  div.link_ten_block
    a(href="#") READ MORE         
