$font-basic: Montserrat, sans-serif;
$font-article: Montserrat Alternates, sans-serif;
$max-width: 1367px;
$background_section_1_color: #e6e4f3;
$dark_in_page: #232642;

/*  General Style   */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

body {
  background: $background_section_1_color url(../../src/img/illustration.png)
    no-repeat;
  background-position: right top;
  margin: 0px;
}
