<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>MARVEL</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Montserrat:300,400,500,700,800,900|Muli:300,400,600,700,800,900|Poppins:400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/brands.css" integrity="sha384-1KLgFVb/gHrlDGLFPgMbeedi6tQBLcWvyNUN+YKXbD7ZFbjX6BLpMDf0PJ32XJfX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css" integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0" crossorigin="anonymous">
  </head>
  <body>
    <div class="header">
      <div class="top_header_background">
        <div class="top_header">
          <h1>Creative and Professional</h1>
          <p>Use, by you or one client, in a single end product which end users are not charged for. Use, by you or one client, in a single end product which end users are not charged for.</p>
          <!--+main_button('Contact us')  -->
        </div>
      </div>
    </div>
    <div class="header_menu_background">
      <div class="header_menu"><img class="header-logo" src="../img/logo_header_menu.png" alt="MARVEL logo">
        <ul class="ul_menu">
          <li> <a href="#">HOME</a></li>
          <li> <a href="#">SERVICE</a></li>
          <li> <a href="#">ABOUT</a></li>
          <li> <a href="#">PORTFOLIO    </a></li>
          <li> <a href="#">PAGE</a></li>
          <li> <a href="#">BLOG</a></li>
          <li> <a href="#">CONTACT</a></li>
        </ul>
      </div>
    </div>
    <main class="content">
      <div class="first_content">
        <div class="page_about">
          <h2>About</h2>
          <h4>This is the one page polo</h4>
          <p>Molestie iltricies quam. Donec at sem. Prasent pretium. Maorbi quis nulla venicula felsd laoreet. Sed ullamcorper arcu ente. Sed tempus tempor cild Nulla vierra ultrices magnal Nam rutrum congue diam.do eiusmod tempor incididunt ut dolore manga aliqua. Utdi eni ad minim veniam, quis nostrud exercitationconsequat</p>
          <!--button  -->
        </div>
        <div class="first_content_text_block">
          <div class="first_c_text_block"><i class="fas fa-star-half-alt"></i>
            <h6>Responsive Design</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitelquam. Fusce quis nulla tincidunt interdum magna vitae.   </p>
          </div>
          <div class="first_c_text_block"><i class="fas fa-globe"></i>
            <h6>Awesome Features</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitelquam. Fusce quis nulla tincidunt interdum magna vitae.   </p>
          </div>
          <div class="first_c_text_block"><i class="fab fa-cloudscale"></i>
            <h6>Powerful Security</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitelquam. Fusce quis nulla tincidunt interdum magna vitae.   </p>
          </div>
        </div>
        <div class="first_block_statistics">
          <h5>Here're some impressive numbers about us</h5>
          <div class="container_to_first_statistics">
            <div class="first_statistics">
              <p>7533</p>
              <p>Project Complete    </p>
            </div>
            <div class="first_statistics">
              <p>4222</p>
              <p>Happy Client  </p>
            </div>
            <div class="first_statistics">
              <p>6980+</p>
              <p>Positive Feedback  </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>