div.big_header
  div.logo
    img(class="logo" src="../../src/img/logo.png" alt="Shopy Logo")
  div.menu
    a(href="#") Home  
    a(href="#") Products 
    a(href="#") No Deals
    a(href="#") About 
    a(href="#") Contact
  div.icons
    i(class="fas fa-search")
    i(class="fas fa-user-alt")
    div.simple_icon
      div  
        span 5
      i(class="fas fa-shopping-cart") 
