div.product
  div.product_images
    img(class="main_image" src="../../src/img/BigProductImg.png" alt="Main Product Img")
    div.other_product_images
      img(class="other_image" src="../../src/img/Product1.png" alt="other Product Img")
      img(class="other_image" src="../../src/img/Product2.png" alt="other Product Img")
      img(class="other_image" src="../../src/img/BigProductImg.png" alt="other Product Img")
  div.product_information
    h1 Full winter kit
    h4 Half Jacket + Skiny Trousers + Boot leather
    p Lorem Ipsum is simply dummy text of the printing and typesetting industry <br> Lorem Ipsum is simply dummy text of the printing <br> and typesetting industry   
    div.size_quantity
      div
        h3 Choos Size 
        span S
        span -
        span M
        span - 
        span(class="active_span") L
        span -
        span XL 
      div 
        h3 Choos Quantity
        span +
        span(class="active_span") 3
        span -
    div.block_for_buy
      h3 Price : 120$
      div
        div.for_buy_icons
          i(class="fas fa-globe")
          i(class="fas fa-cart-plus")
          i(class="far fa-heart")
        button( class="button_for_buy" type = "submit") Order Now
