div.smallHeader
  div.contactInfo
    div
      i(class="far fa-envelope")
      a(href="mailto:info@shopy.com") info@shopy.com
    div
      i(class="fas fa-phone")
      a(href="tel:+4535553996") 453-5553-996
  div.socialNetworks
    i(class="fab fa-facebook-f")
    i(class="fab fa-twitter")
    i(class="fab fa-google-plus-g")
    i(class="fab fa-instagram")
