$font-article: Montserrat, sans-serif;
$font-basic: Muli, sans-serif;
$font-lato: Lato, sans-serif;
$font-poppins: Poppins, sans-serif;
$background-color_menu: #323232;
$red_in_site: #e20505;
$h6_color: #9c9c9c;
$menu_single_elements_hover_color: #494949;
$green: #59ec0f;
$light_grey: #d6d6d6;
$orange: #ff7400;

/*  General Style   */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h6 {
  font: 16px $font-lato;
}

p {
  font: 16px $font-basic;
}

body {
  margin: 0px;
  background-color: #fafbfc;
  height: 100vh;
  .menu {
    background-color: $background-color_menu;
    height: 100vh;
    width: 12vw;
    float: left;
    position: fixed;

    .logo {
      padding: 20px 10px;
      display: flex;

      .circle_logo_icon {
        background-color: $red_in_site;
        border-radius: 30px;
        margin-left: 10px;

        i {
          padding: 6px;
          font-size: 13px;
          color: #fff;
        }
      }

      p {
        font-size: 20px;
        color: #fff;
        padding-left: 10px;
      }
    }

    .main_list_menu {
      padding: 0px 10px;
    }

    .menu_single_elements {
      display: grid;
      grid-template-columns: 1fr 5fr;
      padding: 10px 0px;
      text-decoration: none;
    }

    .manage_menu {
      padding: 0px 10px;
      margin-top: 20px;

      h6 {
        padding-left: 10px;
        font-size: 16px;
        text-transform: uppercase;
        color: $h6_color;
        font-weight: 900;
      }
    }
  }
}

.clock {
  font-size: 26px;
}

.menu_single_elements:first-child i,
.menu_single_elements:first-child p {
  color: $green;
}

.menu_single_elements:hover {
  background-color: $menu_single_elements_hover_color;
  border-radius: 10px;
}

.menu_single_elements i {
  color: $light_grey;
  font-size: 20px;
  padding-left: 10px;
}

.menu_single_elements p {
  color: $light_grey;
  padding-left: 10px;
}

/*  Top part   */

%flex-space-between {
  display: flex;
  justify-content: space-between;
}

.top_part_of_functionals {
  @extend %flex-space-between;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0px 0px 0px 12vw;
}

.top_part_of_functionals p {
  font-size: 22px;
}

.top_part_of_functionals i {
  font-size: 20px;
  color: $menu_single_elements_hover_color;
  padding: 5px 15px;
}

.top_part_of_functionals i:hover {
  color: $green;
}

.top_functionals {
  @extend %flex-space-between;
}

.top_functionals i:nth-child(4) {
  font-size: 36px;
  color: $green;
  padding: 0px 15px;
}

.top_functionals i:nth-child(4):hover {
  color: $red_in_site;
}

.top_functionals p {
  padding: 0px 25px;
}
/*  Main statistic   */

.main_statistic {
  padding: 20px 0px 0px 13vw;
  margin-bottom: 50px;
}

.main_statistic span {
  font-size: 22px;
  text-align: center;
  padding: 5px 10px;
}

.main_statistic span:hover {
  border-bottom: 4px solid $orange;
  transition: border-bottom 0.2s linear;
}

.enter_form {
  text-align: center;
  margin-top: 50px;
}

.enter_form button {
  font-family: $font-basic;
  height: 50px;
  padding: 12px 30px;
  background-color: $red_in_site;
  border: 1px solid $red_in_site;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.enter_form button:hover {
  background-color: $green;
  border: 1px solid $green;
}

.enter_form button:first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.enter_form button:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.enter_form input {
  font-family: $font-basic;
  font-size: 16px;
  height: 50px;
  border: 0px solid white;
  padding: 0px 20px;
  font-size: 14px;
  margin-top: -5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.enter_form input:first-of-type {
  min-width: 500px;
}

.enter_form input:last-of-type {
  min-width: 350px;
}
/*  Days   */

.days_block {
  margin: 0 auto;
  margin: 0px 20px 0px 13vw;
  text-align: center;
}

.days_block i {
  font-size: 28px;
  padding: 0px 30px;
}

.days_block i:nth-of-type(2) {
  color: $green;
}

.days_block i:first-child:hover {
  color: $green;
}

.days_block i:hover {
  color: $red_in_site;
}

.single_list_block {
  border: 1px solid $light_grey;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 5fr 2fr 2fr 1fr 1fr;
  padding: 20px;
  margin-top: 20px;
}

.complete {
  background-color: $green;
  border-radius: 10px;
}

.single_list_block:hover {
  background-color: #f4f4f4;
}

.info_list_block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
}

.info_list_block p {
  font-size: 18px;
  padding-top: 5px;
}
