button {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 0px 20px;
  border-radius: 10px;
}

.list-button {
  background-color: #fff;
}

.active-page {
  background-color: #e5c500;
}
