* {
  text-align: center;
  padding-inline-start: 0px;
}
h3 {
  font-size: 46px;
  text-align: center;
  color: grey;
}

input {
  height: 50px;
  width: 350px;
}

button {
  height: 56px;
  padding: 10px 30px;
}

button:hover {
  background-color: white;
}

.todos {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}

.list {
  list-style-type: none;
  border: 1px solid grey;
  padding: 10px 5px;
  display: flex;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.complete {
  background-color: green;
}
