div.first_section
  div.header
    div.logo
      img( src="../../src/img/logo.svg" alt="Landing Page logo")
    div.point_img
      img( src="../../src/img/points.png" alt="Points image")
    div.menu
      ul(class="ul_menu")
        li 
          a(href="#") Scholarship
        li 
          a(href="#") Contact us
  div.main_part_section1
    div.main_part_section1_content
      h1 APA Citation Format Explained and Generated 
      div.get_started_button
        a(href="#") Get started now
        img( src="../../src/img/arrow.svg" alt="Arrow")
    div.forms
      div.content_forms
        div.top_button_forms
          div APA
          div MLA
          div Harvard
        div.second_row_button_forms
          div Chocago
        div.only_form
          div(class="input-field col s6")
            input(placeholder="From" id="from" type="text" class="validate")
            label(for="from") From
          div(class="input-field col s6")
            input(id="book" type="text" class="validate")
            label(for="book") ISNM book or Title book
          div(class="input-field col s6")
            input(id="title_name" type="text" class="validate")
            label(for="title_name") Title name
          button(type = "submit") Generate







         
