div.second_section
  div.second_content_section
    div.second_main_content
      h2 Why do we need it?
      p Being one of the most common formats for all kinds of scientific and research papers, <strong>APA</strong> citation format is used mainly in the field of social sciences. It explains how to handle references to both published and unpublished sources, covering various forms of in-text citations and bibliographic lists.
      p There are several reasons why you should stick to <strong>APA</strong> formatting. Firstly, even if you paraphrase someone else's ideas instead of quoting directly, it can be regarded as plagiarism. This may be construed as a breach of ethical norms and lead to serious consequences - at the least, you won't get a good mark for the work you have stolen from someone. Secondly, by having you write term papers and essays, your instructors test your academic writing skills. And why would any teacher give you a good grade if you show your ignorance of the academic formatting rules? Besides, in your post-college years, you may have to publish your scientific studies and articles in journals, which simply refuse to print incorrectly formatted manuscripts. So, now you have a good chance to learn things which can help you boost your career opportunities.  
      button(type = "submit") Read more
    div.quotation
      img( src="../../src/img/points.png" alt="Points image")
      img( src="../../src/img/quotation.svg" alt="Points image")
